{% extends 'base.html' %}
{% block title %}{% if object %}Edit Post{% else %}New Post{% endif %}{% endblock %}

{% block content %}
<h1>{% if object %}Edit Post{% else %}New Post{% endif %}</h1>

<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="mb-3">
    {{ form.title.label_tag }}
    {{ form.title }}
    {{ form.title.errors }}
  </div>

  <div class="mb-3">
    {{ form.content.label_tag }}
    {{ form.content }}
    {{ form.content.errors }}
  </div>

  <button class="btn btn-primary" type="submit">{% if object %}Save changes{% else %}Create post{% endif %}</button>
  <a class="btn btn-link" href="{% url 'blog:post_list' %}">Cancel</a>
</form>
{% endblock %}
